div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#preloaders {
position: fixed; /*фиксированное положение блока*/
left: 0; /*положение элемента слева*/
top: 0; /*положение элемента сверху*/
right: 0; /*положение элемента справа*/
bottom: 0; /*положение элемента снизу*/
background: #fff; /*цвет заднего фона блока*/
z-index: 99999; /*располагаем его над всеми элементами на странице*/
}
#preloaders img {
font-size: 200px; /*размер иконки*/
position: absolute; /*положение абсолютное, позиционируется относительно его ближайшего предка*/
left: 50%; /*слева 50% от ширины родительского блока*/
top: 50vh; /*сверху 50% от высоты родительского блока*/
margin: -120px 50% 50% -90px; /*смещение иконки, чтобы она располагалась по центру*/
}
